.yazi{
    text-align: center;
    font-size: 2rem;
    margin: 2rem auto;
    width: 50vw;

}


/************ ROTATE **************/
.yazi1{
    background-color: khaki;
    transform: rotateX(180deg);
}
.yazi2{
    background-color: tomato;
    transform: rotateY(180deg);
}

.yazi3{
    background-color: deepskyblue;
    transform: rotate(45deg);
}
/*************** SCALE ************/
.yazi4 {
    background-color: indianred;
  }
  .yazi4:hover {
    transform: scaleX(1.5) scaleY(3);
  }
  
  .yazi5 {
    background-color: fuchsia;
  }
  
  .yazi5:active {
    /* transform: scale(1.1, 1.2); */
    transform: scale(98%);
  }



/*************** TRANSLATE - TRANSITION ************/

.translate{
    background-color: rgb(161, 184, 11);
    font-weight: 800;
    width: 100px;
    height: 50px;
    margin: 10px;
    transition: backround-color 1s, transform 1s;

}
.x:hover {
    transform: translate(50px);
    background-color: coral;


}
.y:hover{
    transform: translateY(10px);
    background-color: gold;


}
.xy:hover{
    transform: translate(10px , 10px);
    background-color: orange;
}

.buttondiv{
    text-align: center;
    

}



.button{
    padding: 1rem;
    width: 7rem;
    background-color: rgb(224, 213, 93);
    border: none;
    font-size: 1.2rem;
    border-radius: 20px;
    transition:all 0.5s;
   
    
}

.button:hover{
    background-color: indianred;
    color: white;
}

/* .button{
    transition: all 0.5s;
} */
/* .button:active{
    transform: scale(0.9);
    background-color: aqua;
    color: antiquewhite;
}
 */
