@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');


/* font-family: 'Open Sans', sans-serif; */

:root{
    --mavi1: hsl(205, 100%, 30%);
    --mavi2: hsl(205, 100%, 40%);
    --mavi3: hsl(205, 100%, 50%);
    --mavi4: hsl(205, 100%, 60%);
    --mavi5: hsl(205, 100%, 70%);
  
    /* asil renklerin acik tonları */
    --mavi-6: hsl(205, 89%, 70%);
    --mavi-7: hsl(205, 90%, 76%);
    --mavi-8: hsl(205, 86%, 81%);
    --mavi-9: hsl(205, 90%, 88%);
    --mavi-10: hsl(205, 100%, 96%);
    --mavi-11: hsl(205, 3%, 95%);



  --koyu-golge: 0px 0px 15px rgba(0, 0, 0, 0.4);
  --acik-gogle: 0px 5px 15px rgba(0, 0, 0, 0.1);
}




   